* text=auto eol=lf

*.bat   text eol=crlf
*.cmd   text eol=crlf

*.sh        text eol=lf
gradlew     text eol=lf

*.jar   binary
*.png   binary
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.ogg   binary
*.wav   binary
*.zip   binary